header{
  position: fixed;
  background: #14477D;
  height: 200px;
  width: 100%;
  top: 0;
  left: 0;
}

#header-left-panel{
    position: absolute;
    left: 5%;
    top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#header-right-panel{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        }
#header-logo{
    height: 120px;
    width: 120px;
}

#header-name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}

#toggle{
  display: none;
}

#username, #login-btn{
    border-radius: 30px;
    width: 80%;
    height: 70px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    overflow-x: hidden;
    color: #FFFFFF;
   }
   #username{
   border: 3px solid #FFA273;
   }
   #login-btn{
     background: #FFA273;
}
   #username span{
        text-align: left;
        max-width: 100%;
        padding: 5px;
   }
   #user-balance{
       font-family: 'Montserrat';
       font-style: normal;
       font-weight: 400;
        font-size: 30px;
        line-height: 37px;
       color: #FFFFFF;
   }

@media (min-width: 1200px){

    #main-nav-wrapper{
        position: absolute;
        left: calc(5% + 150px);
        top: 0;
        height: 100%;
        width: calc(95% - 150px);
    }
    #main-nav{
        position: absolute;
        bottom: 0;
        display: flex;
        width: 75%;
        justify-content: space-between;
    }
    #main-nav a{
        width: 30%;
        min-width: 210px;
        height: 80px;
        border: 3px solid #689CD2;
        border-bottom: 0;
        border-radius: 15px 15px 0px 0px;
        text-decoration: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 5rem;
        text-align: center;
        color: #FFFFFF;
    }
    #main-nav a.active{
        background: #689CD2;
    }
    .submenu{
        display: none;
    }
    #header-right-panel{
        position: absolute;
        right: 0;
        width: 20%;
        top: 0px;
        height: 100%;
        background-color: #689CD2;
    }
    nav a:hover{
        cursor: pointer;
    }
}

