/* top-menu*/
.top-menu{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;

}
.top-menu-btn{
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #689CD2;
}
.top-menu-btn:hover{
    color:#000000;
    transform: scale(1.05);
    transition: all 100ms ease;
}
.top-menu-btn:not(:hover){
    transition: all 100ms ease;
}
.top-menu-btn.active{
    color: #14477D;
    border-bottom: 2px solid #689CD2;
}
#cur-menu{
    padding-left: 30px;
    width: 50%;
    max-width: 650px;
    min-width: 465px;
    padding-right: 30px;
    color: #689CD2;
}
#post-menu{
    padding-left: 30px;
    width: 30%;
    max-width: 300px;
    min-width: 180px;
}

.delete-post-btn{
    background: #FF5600;
}
#post-info{
    display: flex;
    width: 100%;
    min-width: 450px;
    justify-content: space-between;
}
.post-info-row input, .new-post-info-row input, .order-info-row input{
    width: calc(100% - 27px);
    height: 34px;
}
.card-number::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
#post-info .placeholder{
    width: 280px;
}
.post-info-row, .new-post-info-row, .order-info-row{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.info-name{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #689CD2;
}
.info-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #14477D;
}
.order-info-row{
    width: calc(90% - 5px);
}
#new-post-menu{
    width: 80%;
}
.modal-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: calc(100vh - 214px);
    overflow-y: scroll;
    width: 100%;
}
.modal-info::-webkit-scrollbar {
    width: 5px;
    right: 10px;
}
.modal-info::-webkit-scrollbar-track {
    background: white;
}
.modal-info::-webkit-scrollbar-thumb {
    background-color: #689CD2;
    border-radius: 4px;
}
.new-post-info-row {
    width: calc(100% - 5px);
}
.new-post-info-row.moving {
    overflow: hidden;
    transition: all 100ms ease;
}
.new-post-info-row select{
    padding: 1px;
    border: 3px solid #689CD2;
    border-radius: 30px;
    padding-left: 20px;
    width: 100%;
    height: 42px;
    font-family: 'Montserat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #14477D;;
}
#add-new-post-btn, #add-new-nft-btn, #sell-nft-btn, buy-nft-btn{
    width: 210px;
    height: 60px;
    align-self: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    cursor: pointer;
}
#pay-info{
    align-items: center;
}
#pay-btn, #save-btn, #approve-btn{
    align-self: center;
}
button{
    border-radius: 30px;
    border: 0;
    height: 60px;
    width: 210px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}
.blue-btn{
    border: 2px solid #4188D2;
    border-radius: 30px;
    background: #FFFFFF;
    font-size: 20px;
    line-height: 20px;
    color: #4188D2;
    cursor: pointer;
    transition: all 200ms ease;
}
.blue-btn:hover{
    background: #4188D2;
    color: #FFFFFF;
    transform: scale(1.03);
}
.red-btn{
    background: #FFA273;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: all 200ms ease;
    border: 2px solid #FFA273;
}
.red-btn:hover{
    background: #FFFFFF;
    color: #FFA273;
    transform: scale(1.03);
}