@media (max-width: 1200px){
    .top-menu-btn{
        font-weight: 400;
        font-size: 15px;
        line-height: 16px;
    }
    #cur-menu{
        min-width: 250px;
        width: 80%;
        max-width: 800px;
    }
    #post-menu{
        width: 30%;
        max-width: 200px;
        min-width: 150px;
    }
    .post-info-row, .new-post-info-row, .order-info-row{
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .post-info-row input, .new-post-info-row input, .order-info-row input, .post-info-row select, .new-post-info-row select, .order-info-row select{
        border-width: 1px;
        height: 34px;
    }
    .new-post-info-row select{
        height: 38px;
    }
    .info-name{
        font-size: 12px;
        line-height: 20px;
    }
    .info-text{
        font-size: 16px;
        line-height: 20px;
    }
    #post-info{
        flex-direction: column;
        min-width: auto;
    }
    #post-info-data{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    #post-info-actions{
        width: 210px;
        width: fit-content;
    }
    #post-info-actions .post-info-row button{
        height: 34px;
    }
    .modal-info{
        width:80%;
    }
    #new-post-menu{
        width: 60%;
    }
    .post-info-row input, .new-post-info-row input, .order-info-row input {
        width: calc(100% - 27px);
    }
}