body {
    color: #6ecddd;
    font-family: 'Montserrat';
    font-size: 1vw;
    text-align: center;
    width: 100vw;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    z-index: 0;
    margin-top: 200px;
    overflow-y: hidden;
    height: calc(100vh - 240px);
    margin-bottom: 40px;
}
h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #14477D;
}
#main{
    padding: 6%;
    padding-top: 40px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 0;
}
#main::-webkit-scrollbar {
    width: 5px;
    right: 10px;
}
#main::-webkit-scrollbar-track {
    background: white;
}
#main::-webkit-scrollbar-thumb {
    background-color: #689CD2;
    border-radius: 4px;
}
  .table{
    width: 100%;
    font-size: 16px;
  }
  .th, .tr{
    display: flex;
    width: 100%;
  }
  .tr{
    border-bottom: 1px solid #4188D2;
    height: 60px;
    color: #000;
  }
  .table.dynamic .tr{
      cursor: pointer;
  }
  .tc-left, .tc-right{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tc{
    display: flex;
    justify-content: space-around;
    width: 30%;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #14477D;
  }
  .th{
    height: 65px;
    background: #689CD2;
    border-radius: 30px 30px 0px 0px;

  }
  .th .tc{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
  }
  .tc.la{
    align-items: start;
    padding-left: 30px;
    width: calc(30% - 30px);
  }
  .tc.with-info{
    display: flex;
    flex-direction: column;
    line-height: 24px;
  }
  .tc.with-info .info{
    color: #797979;
    font-size: 14px;
  }
  .tc-left, .tc-right{
    width: 50%;
    height: 100%;
  }
@media (min-width: 1200px){
    .table.dynamic .tr:hover{
        box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.30), -2px 0px 10px rgba(0, 0, 0, 0.30);
        transform: scale(1.01);
        transition: all 200ms ease;
    }
}


.tr.my, .nft-collection-image.my{
  background-color: rgba(255, 162, 115, 0.2);
}
input{
    background: #FFFFFF;
    border: 3px solid #689CD2;
    border-radius: 30px;
    padding-left: 20px;
}
select{
    background: #FFFFFF;
}
.disabled{
    opacity: 30%;
    pointer-events: none;
} 

.side-menu{
    text-align: left;
    width: 15%;
    min-width: 230px;
    max-width: 270px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}
.side-menu .title{
    margin-top: 30px;
    margin-bottom: 19px;
    font-size: 36px;
    color: #14477D;
}
.side-menu-row{
    cursor: pointer;
    height: 70px;
    margin: 0;
    padding: 0;
    padding-left: 5%;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 14px;
    color: #689CD2;
    fill: #689CD2;
    border-radius: 15px;
}
.side-menu-row.active{
    fill: #4188D2;
    color: #4188D2;
    background-color: #D9D9D9;
}
.side-menu-row:hover{
    background-color: #D9D9D9;
}
.side-menu #add-post-btn{
    width: 100%;
}
.side-menu-row svg{
    height: 15px;
    width: 15px;
    margin-right: 8%;
}
.inner-content{
    padding-left: 5%;
    padding-top: 30px;
    width: 73%;
    height: fit-content;
    margin-bottom: 10px;
}

select:focus-visible{
    outline: 0;
}
input:focus-visible{
    outline: 0;
}