body {
    color: #6ecddd;
    font-family: 'Montserrat';
    font-size: 1vw;
    text-align: center;
    width: 100vw;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    z-index: 0;
    margin-top: 200px;

}
#main{
    padding: 6%;
    padding-top: 40px;
    margin-top: 0;
    display: flex;
    justify-content: center;  
  }
  .table{
    width: 100%;
    font-size: 16px;
  }
  .th, .tr{
    display: flex;
    width: 100%;
  }

  .tr{
    border-bottom: 1px solid #4188D2;;
    height: 60px;
    color: #000;
  }
  .tc-left, .tc-right{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tc{
    display: flex;
    justify-content: space-around;
    width: 30%;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #14477D;
  }
  .th{
    height: 65px;
    background: #689CD2;
    border-radius: 30px 30px 0px 0px;

  }
  .th .tc{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
  }
  .tc.la{
    align-items: start;
    padding-left: 30px;
    width: calc(30% - 30px);
  }
  .tc.with-info{
    display: flex;
    flex-direction: column;
  }
  .tc.with-info .info{
    color: #797979;
    font-size: 14px;
  }
  .tc-left, .tc-right{
    width: 50%;
    height: 100%;
  } 
  .table.dynamic .tr:hover{
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.30), -2px 0px 10px rgba(0, 0, 0, 0.30);
      transform: scale(1.01);
      transition: all 200ms ease;
  }



.tr.my{
  background-color: #FFA273;
}

/* button{
    cursor: pointer;
}
button:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.30);
    transform: scale(1.05);
    transition: all 200ms ease;
}
button:not(:hover){
    transition: all 200ms ease;
}*/

input{
    background: #D9D9D9;
    border: 3px solid #689CD2;
    border-radius: 30px;
    padding-left: 20px;
}
.disabled{
    opacity: 30%;
    pointer-events: none;
} 

