<div class="table dynamic">
    <div class="th">
        <div class="tc">
            <span>Клиент/валюта</span>
        </div>
        <div class="tc">
            <span>Сумма</span>
        </div>
        <div class="tc">
            <span>Количество</span>
        </div>
    </div>
    {% for order in orders %}
        <div class="tr{% if post.user == user %} my{% endif %}" onclick="downloadContent('{{ link }}/{{ order.id }}')">
            <div class="tc with-info">
                <span>{{ order.get_other_side(user) }}</span>
                <span class="info">{{ order.post.currency }}</span>
            </div>
            <div class="tc">
                <span>{{ order.sum }}</span>
            </div>
            <div class="tc">
                <span>{{ order.count }}</span>
            </div>
        </div>
    {% endfor %}
</div>