{% extends 'base.html' %}
{% block content %}
<div id="p2p-menu">
    <div class="title">
        <span>Разделы</span>
    </div>
    <div class="p2p-menu-row" id="p2p-buy-button" onclick="downloadContent('/api/get-sell-list/all')">
        <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="30" height="30">
            <circle cx="7" cy="22" r="2"/>
            <circle cx="17" cy="22" r="2"/>
            <path d="M23,3H21V1a1,1,0,0,0-2,0V3H17a1,1,0,0,0,0,2h2V7a1,1,0,0,0,2,0V5h2a1,1,0,0,0,0-2Z"/>
            <path d="M21.771,9.726a.994.994,0,0,0-1.162.806A3,3,0,0,1,17.657,13H5.418l-.94-8H13a1,1,0,0,0,0-2H4.242L4.2,2.648A3,3,0,0,0,1.222,0H1A1,1,0,0,0,1,2h.222a1,1,0,0,1,.993.883l1.376,11.7A5,5,0,0,0,8.557,19H19a1,1,0,0,0,0-2H8.557a3,3,0,0,1-2.829-2H17.657a5,5,0,0,0,4.921-4.112A1,1,0,0,0,21.771,9.726Z"/>
        </svg>
        <span>Купить</span>
    </div>
    <div class="p2p-menu-row" id="p2p-sell-button" onclick="downloadContent('/api/get-buy-list/all')">
        <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="30" height="30">
            <path d="M16,0h-.13a2.02,2.02,0,0,0-1.941,1.532,2,2,0,0,1-3.858,0A2.02,2.02,0,0,0,8.13,0H8A5.006,5.006,0,0,0,3,5V21a3,3,0,0,0,3,3H8.13a2.02,2.02,0,0,0,1.941-1.532,2,2,0,0,1,3.858,0A2.02,2.02,0,0,0,15.87,24H18a3,3,0,0,0,3-3V5A5.006,5.006,0,0,0,16,0Zm2,22-2.143-.063A4,4,0,0,0,8.13,22H6a1,1,0,0,1-1-1V17H7a1,1,0,0,0,0-2H5V5A3,3,0,0,1,8,2l.143.063A4.01,4.01,0,0,0,12,5a4.071,4.071,0,0,0,3.893-3H16a3,3,0,0,1,3,3V15H17a1,1,0,0,0,0,2h2v4A1,1,0,0,1,18,22Z"/>
            <path d="M13,15H11a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z"/>
        </svg>
        <span>Продать</span>
    </div>
    <div class="p2p-menu-row" id="p2p-my-posts-button" onclick="downloadContent('/api/get-posts-list/buy')">
        <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="30" height="30">
            <path d="M7,6H23a1,1,0,0,0,0-2H7A1,1,0,0,0,7,6Z"/>
            <path d="M23,11H7a1,1,0,0,0,0,2H23a1,1,0,0,0,0-2Z"/>
            <path d="M23,18H7a1,1,0,0,0,0,2H23a1,1,0,0,0,0-2Z"/>
            <circle cx="2" cy="5" r="2"/>
            <circle cx="2" cy="12" r="2"/>
            <circle cx="2" cy="19" r="2"/>
        </svg>
        <span>Мои объявления</span>
    </div>
    <div class="p2p-menu-row" id="p2p-my-orders-button" onclick="downloadContent('/api/get-orders-list')">
        <svg id="Layer_1" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1">
            <path d="m4 6a2.982 2.982 0 0 1 -2.122-.879l-1.544-1.374a1 1 0 0 1 1.332-1.494l1.585 1.414a1 1 0 0 0 1.456.04l3.604-3.431a1 1 0 0 1 1.378 1.448l-3.589 3.414a2.964 2.964 0 0 1 -2.1.862zm20-2a1 1 0 0 0 -1-1h-10a1 1 0 0 0 0 2h10a1 1 0 0 0 1-1zm-17.9 9.138 3.589-3.414a1 1 0 1 0 -1.378-1.448l-3.6 3.431a1.023 1.023 0 0 1 -1.414 0l-1.59-1.585a1 1 0 0 0 -1.414 1.414l1.585 1.585a3 3 0 0 0 4.226.017zm17.9-1.138a1 1 0 0 0 -1-1h-10a1 1 0 0 0 0 2h10a1 1 0 0 0 1-1zm-17.9 9.138 3.585-3.414a1 1 0 1 0 -1.378-1.448l-3.6 3.431a1 1 0 0 1 -1.456-.04l-1.585-1.414a1 1 0 0 0 -1.332 1.494l1.544 1.374a3 3 0 0 0 4.226.017zm17.9-1.138a1 1 0 0 0 -1-1h-10a1 1 0 0 0 0 2h10a1 1 0 0 0 1-1z"/>
        </svg>
        <span>Мои ордера</span>
    </div>
    <div class="title">
        <span>Действия</span>
    </div>
    <button id="add-post-btn" data-modal="add-post-modal">+ Создать объявление</button>
</div>
<div id="p2p-content">
</div>

{% endblock %}
{% block modal %}
<div class="overlay" data-close=""></div>
    <div class="dlg-modal dlg-modal-fade first-open" id="add-post-modal" oninput="checkSubmit()" onclick="checkSubmit()">
        <span class="closer" data-close=""></span>
        <h1>Новое объявление</h1>
        <div class="top-menu" id="new-post-menu">
            <div class="top-menu-btn active" id="new-post-buy" onclick="newPostBuy()">
                <span>Покупка</span>
            </div>
            <div class="top-menu-btn" id="new-post-sell" onclick="newPostSell()">
                <span>Продажа</span>
            </div>
        </div>
            <div id="new-post-info" class="modal-info">
            <div class="new-post-info-row" id="new-post-currency">
                <span class="info-name">Валюта</span>
                <select onchange="getLimit()" class="info-text">
                    <option value="" selected disabled hidden></option>
                    <option>USDT</option>
                    <option>BTC</option>
                    <option>ETH</option>
                    <option>KPFU</option>
                    <option>SOL</option>
                </select>
            </div>
            <div class="new-post-info-row" id="new-post-limit">
                <span class="info-name">Лимит</span>
                <input class="info-text disabled" type="number" placeholder="0" min="1" max="Infinity" value="" oninput="checkElement('#new-post-price input', this)">
            </div>
            <div class="new-post-info-row" id="new-post-price">
                <span class="info-name">Цена</span>
                <input class="info-text  disabled" placeholder="0" type="number" min="1" max="Infinity" oninput="checkElement('#new-post-bank select', this, true)">
            </div>
            <div class="new-post-info-row" id="new-post-bank">
                <span class="info-name">Банк</span>
                <select class="info-text disabled" oninput="checkElement('#new-post-card-number input', this)">
                    <option value="" selected disabled hidden></option>
                    <option value="TN">Тинькофф</option>
                    <option value="SB">Сбер</option>
                </select>
            </div>
            <div class="new-post-info-row moving" id="new-post-card-number" style="height: 0; overflow: hidden;">
                <span class="info-name">Номер карты</span>
                <input class="info-text card-number disabled" type="number" maxlength="16">
            </div>
            <div class="new-post-info-row" style="height: auto;">
                <button id="add-new-post-btn" class="blue-btn disabled" onclick="sendPost()">Создать объявление</button>
            </div>
        </div>
    </div>
    <script>window.onload = addModalListeners();</script>
{% endblock %}