
{% extends 'base.html' %}
{% load static %}
{% block title %}NFT{% endblock %}
{% block content %}
<div class="side-menu" id="nft-menu">
    <div class="title">
        <span>Разделы</span>
    </div>
    <div class="side-menu-row" id="nft-marketplace-button" onclick="downloadContent('/nft/api/get-marketplace-posts')">
        <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="30" height="30">
            <circle cx="7" cy="22" r="2"/>
            <circle cx="17" cy="22" r="2"/>
            <path d="M23,3H21V1a1,1,0,0,0-2,0V3H17a1,1,0,0,0,0,2h2V7a1,1,0,0,0,2,0V5h2a1,1,0,0,0,0-2Z"/>
            <path d="M21.771,9.726a.994.994,0,0,0-1.162.806A3,3,0,0,1,17.657,13H5.418l-.94-8H13a1,1,0,0,0,0-2H4.242L4.2,2.648A3,3,0,0,0,1.222,0H1A1,1,0,0,0,1,2h.222a1,1,0,0,1,.993.883l1.376,11.7A5,5,0,0,0,8.557,19H19a1,1,0,0,0,0-2H8.557a3,3,0,0,1-2.829-2H17.657a5,5,0,0,0,4.921-4.112A1,1,0,0,0,21.771,9.726Z"/>
        </svg>
        <span>Маркетплейс</span>
    </div>
    <div class="side-menu-row" id="nft-collections-button" onclick="downloadContent('/nft/api/get-collections')">
        <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="30" height="30">
            <path d="M16,0h-.13a2.02,2.02,0,0,0-1.941,1.532,2,2,0,0,1-3.858,0A2.02,2.02,0,0,0,8.13,0H8A5.006,5.006,0,0,0,3,5V21a3,3,0,0,0,3,3H8.13a2.02,2.02,0,0,0,1.941-1.532,2,2,0,0,1,3.858,0A2.02,2.02,0,0,0,15.87,24H18a3,3,0,0,0,3-3V5A5.006,5.006,0,0,0,16,0Zm2,22-2.143-.063A4,4,0,0,0,8.13,22H6a1,1,0,0,1-1-1V17H7a1,1,0,0,0,0-2H5V5A3,3,0,0,1,8,2l.143.063A4.01,4.01,0,0,0,12,5a4.071,4.071,0,0,0,3.893-3H16a3,3,0,0,1,3,3V15H17a1,1,0,0,0,0,2h2v4A1,1,0,0,1,18,22Z"/>
            <path d="M13,15H11a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z"/>
        </svg>
        <span>Коллекции</span>
    </div>
    <div class="side-menu-row" id="nft-my-nft-button" onclick="downloadContent('/nft/api/get-user-nft')">
        <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="30" height="30">
            <path d="M7,6H23a1,1,0,0,0,0-2H7A1,1,0,0,0,7,6Z"/>
            <path d="M23,11H7a1,1,0,0,0,0,2H23a1,1,0,0,0,0-2Z"/>
            <path d="M23,18H7a1,1,0,0,0,0,2H23a1,1,0,0,0,0-2Z"/>
            <circle cx="2" cy="5" r="2"/>
            <circle cx="2" cy="12" r="2"/>
            <circle cx="2" cy="19" r="2"/>
        </svg>
        <span>Мои NFT</span>
    </div>
    <div class="title">
        <span>Действия</span>
    </div>
    <button id="add-post-btn" data-modal="add-nft-modal" class="red-btn">+ Создать NFT</button>
</div>
<div class="inner-content" id="nft-content">

</div>

{% endblock %}
{% block modal %}
<div class="overlay" data-close=""></div>
<div class="dlg-modal dlg-modal-fade first-open" id="add-nft-modal" oninput="checkNewNftSubmit()" onclick="checkNewNftSubmit()">
    <span class="closer" data-close=""></span>
    <h1>Создать NFT</h1>
        <div class="new-post-info-row" id="upload-container">
            <img id="upload-image" src="/static/img/upload.png">
            <div>
                <input id="file-input" type="file" formenctype="multipart/form-data" name="file" onchange="handleFiles(this.files)" accept="image/*">
                <label for="file-input">Выберите файл</label>
                <span>или перетащите его сюда</span>
            </div>
        </div>
    <div id="new-post-info" class="modal-info">
        <div id="nft-preview" style="width:100%; height: 200px; display: none; margin-bottom:20px;"></div>
         <div class="new-post-info-row" id="new-nft-name">
            <span class="info-name">Название</span>
            <input class="info-text" oninput="checkElement('#new-nft-price input', this)">
        </div>
        <div class="new-post-info-row" id="new-nft-price">
            <span class="info-name">Цена</span>
            <input class="info-text  disabled" placeholder="0" type="number" min="1" max="Infinity" oninput="checkElement('#new-nft-currency select', this, true)">
        </div>
        <div class="new-post-info-row" id="new-nft-currency">
            <span class="info-name">Валюта</span>
            <select class="info-text disabled" onchange="checkElement('#new-nft-collection select', this, true);">
                <option value="" selected disabled hidden></option>
                <option>USDT</option>
                <option>BTC</option>
                <option>ETH</option>
                <option>KPFU</option>
                <option>SOL</option>
            </select>
        </div>
         <div class="new-post-info-row" id="new-nft-collection">
            <span class="info-name">Коллекция</span>
            <select onfocus="loadCollections()" onchange="checkElement('#new-nft-new-collection input', this, true); checkCollection(this.value)" class="info-text disabled">
                <option value="" selected disabled hidden></option>
                <option value="Create-new-collection">Новая коллекция</option>
                <option class="collection-select-name"> sdfsdf</option>
            </select>
        </div>
        <div class="new-post-info-row moving" id="new-nft-new-collection" style="height: 0; overflow: hidden;">
            <span class="info-name">Название коллекции</span>
            <input class="info-text disabled" maxlength="16">
        </div>
        <div class="new-post-info-row" style="height: auto;">
            <button id="add-new-nft-btn" class="red-btn disabled" onclick="sendNewNft()">Создать NFT</button>
        </div>
    </div>
</div>
    <script>
    window.onload = addModalListeners();
    window.onload = function(){
        var dropbox;
        dropbox = document.getElementById("upload-container");
        dropbox.addEventListener("dragenter", dragenter, false);
        dropbox.addEventListener("dragover", dragover, false);
        dropbox.addEventListener("drop", drop, false);
    }()
    </script>
{% endblock %}