<div class="table nft-collections-table">
    {% for collection in collections %}
        <div class="tr tr-nft-collections">
            <div class="nft-collection-data">
                <div class="post-info-row">
                    <span class="info-name">Название</span>
                    <span class="info-text">{{ collection.name }}</span>
                </div>
                <div class="post-info-row">
                    <span class="info-name">RUB</span>
                    <span class="info-text"> {{ collection.summary_price_rub }}</span>
                </div>
                 <div class="post-info-row">
                    <span class="info-name">USDT</span>
                    <span class="info-text"> {{ collection.summary_price_usdt }}</span>
                 </div>
                <div class="post-info-row">
                    <span class="info-name">Количество</span>
                    <span class="info-text"> {{ collection.count }}</span>
                </div>
            </div>
            <div class="nft-collection-images">
                {% for img in collection.images.all %}
                    <div class="nft-collection-image {% if img.owner == user %}my{% endif %}" onclick="downloadContent('/nft/api/nft-info/{{ img.id }}');">
                        <div class="nft-collection-image-img">
                            <img src="{{ img.img.url }}">
                        </div>

                             <div class="post-info-row" style="margin-bottom: 0;">
                                <span class="info-text">{{ img.price }} {{ img.currency }}</span>
                            </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>