<div class="table dynamic nft-table">
    {% for post in posts %}
        <div class="tr tr-nft {% if post.image.owner == user %}my{% endif %}" onclick="downloadContent('/nft/api/marketplace-post-info/{{ post.id }}')">
            <div class="tc tc-nft tc-nft-photo">
                <img src="{{ post.image.img.url }}">
            </div>
            <div class="tc tc-nft tc-nft-info">
                <div class="nft-name">
                    <span>{{ post.image.name }}</span>
                </div>
                <div class="nft-collection-name">
                    <span>{{ post.image.collection.name }}</span>
                </div>
                <div class="nft-info">
                    <span>{{ post.price }}{{ post.currency }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>