<div class="table dynamic nft-table">
    {% for image in images %}
        <div class="tr tr-nft" onclick="downloadContent('/nft/api/nft-info/{{ image.id }}')">
            <div class="tc tc-nft tc-nft-photo">
                <img src="{{ image.img.url }}">
            </div>
            <div class="tc tc-nft tc-nft-info">
                <div class="nft-name">
                    <span>{{ image.name }}</span>
                </div>
                <div class="nft-collection-name">
                    <span>{{ image.collection.name }}</span>
                </div>
                <div class="nft-info">
                    <span>{{ image.price }}{{ image.currency }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>