<div class="table">
    <div class="th">
        <div class="tc">
            <span>Название</span>
        </div>
        <div class="tc">
            <div class="tc-left">
                <span>Цена</span>
            </div>
            <div class="tc-right">
                <span>Изменение</span>
            </div>
        </div>
        <div class="tc">
            <div class="tc-left">
                <span>Объём</span>
            </div>
            <div class="tc-right">
                <span>Капитализация</span>
            </div>
        </div>
    </div>
    <div class="tr">
        <div class="tc big">
            <span id="USDT-name">USDT</span>
        </div>
        <div class="tc">
            <div class="tc-left">
                <span id="USDT-RUB"></span>
            </div>
            <div class="tc-right">
                <span style="color: #0ECB81 " id="USDT-change"></span>
            </div>
        </div>
        <div class="tc">
            <div class="tc-left">
                <span id="USDT-volume"></span>
            </div>
            <div class="tc-right">
                <span id="USDT-quote_volume"></span>
            </div>
        </div>
    </div>

    <div class="tr">
        <div class="tc big">
            <span id="KPFU-name">KPFU</span>
        </div>
        <div class="tc">
            <div class="tc-left">
                <span id="KPFU-RUB"></span>
            </div>
            <div class="tc-right">
                <span style="color: #F6465D" id="KPFU-change"></span>
            </div>
        </div>
        <div class="tc">
            <div class="tc-left">
                <span id="KPFU-volume"></span>
            </div>
            <div class="tc-right">
                <span id="KPFU-quote_volume"></span>
            </div>
        </div>
    </div>

    <div class="tr">
        <div class="tc big">
            <span id="SOL-name">SOL</span>
        </div>
        <div class="tc">
            <div class="tc-left">
                <span id="SOL-RUB"></span>
            </div>
            <div class="tc-right">
                <span style="color: #0ECB81 " id="SOL-change"></span>
            </div>
        </div>
        <div class="tc">
            <div class="tc-left">
                <span id="SOL-volume"></span>
            </div>
            <div class="tc-right">
                <span id="SOL-quote_volume"></span>
            </div>
        </div>
    </div>

    <div class="tr">
        <div class="tc big">
            <span id="ETH-name">ETH</span>
        </div>
        <div class="tc">
            <div class="tc-left">
                <span id="ETH-RUB"></span>
            </div>
            <div class="tc-right">
                <span style="color: #0ECB81 " id="ETH-change"></span>
            </div>
        </div>
        <div class="tc">
            <div class="tc-left">
                <span id="ETH-volume"></span>
            </div>
            <div class="tc-right">
                <span id="ETH-quote_volume"></span>
            </div>
        </div>
    </div>
    <div class="tr">
        <div class="tc big">
            <span id="BTC-name">BTC</span>
        </div>
        <div class="tc">
            <div class="tc-left">
                <span id="BTC-RUB"></span>
            </div>
            <div class="tc-right">
                <span style="color: #0ECB81 " id="BTC-change"></span>
            </div>
        </div>
        <div class="tc">
            <div class="tc-left">
                <span id="BTC-volume"></span>
            </div>
            <div class="tc-right">
                <span id="BTC-quote_volume"></span>
            </div>
        </div>
    </div>
</div>